[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
statbotics = "*"
tbapy = "*"
ipydatagrid = "*"
pandas = "*"
bqplot = "*"
flake8 = "*"
numpy = "*"
black = "*"
plotly = "*"
nbformat = "==5.1.2"
voila = "*"
cryptography = "*"
ipywidgets = "==7.7.2"

[dev-packages]

[requires]
python_version = "3.9"
