[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
statbotics = "*"
tbapy = "*"
ipydatagrid = "*"
pandas = "*"
bqplot = "*"

[dev-packages]

[requires]
python_version = "3.9"
